


 
    <div class="nav-tabs-wrapper">
    <div class="nav-tabs">
      <div class="tab " routerLink="/main-page">Main Page</div>
      <div class="tab active" routerLink="/admin">Client Status</div>
      <div class="tab" routerLink="/flex-fields">Flex Fields</div>
    </div>
  
  <div class="add-button-container">
    <h2>Admin Details</h2>
    <button pButton type="button" icon="pi pi-plus" label="Add Admin Details" (click)="openAddAdminDialog()"></button>
  </div>

  <p-table [value]="adminDetailsList" [rows]="10" [paginator]="true" [responsive]="true">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="customerName">Customer Name <p-sortIcon field="customerName"></p-sortIcon></th>
      <th pSortableColumn="track">Track <p-sortIcon field="track"></p-sortIcon></th>
      <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
        <th>Actions</th>
      </tr>
    </ng-template>
    
    <ng-template pTemplate="body" let-admin let-i="rowIndex">
      <tr [ngClass]="{'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0}">
        <td>{{ admin.customerName }}</td>
        <td>{{ admin.track }}</td>
        <td>{{ admin.status }}</td>
        <td>
          <!-- Edit Button -->
<!-- Edit Button -->
<button mat-icon-button aria-label="Edit" (click)="openEditAdminDialog(admin)" style="display: inline-block; margin-right: 5px;">
  <mat-icon>edit</mat-icon>
</button>

<!-- Delete Button -->
<button mat-icon-button aria-label="Delete" *ngIf="admin.id" (click)="deleteAdmin(admin.id)" style="display: inline-block;">
  <mat-icon>delete</mat-icon>
</button>

        </td>
      </tr>
    </ng-template>
  </p-table>
</div>


