.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  color: #c00000;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

mat-label {
  color: #c00000;
}

mat-icon {
  color: #c00000;
}

button[type="submit"] {
  width: 100%;
  background-color: #c00000;
  color: white;
  border: none;
  padding: 12px 0;
  cursor: pointer;
  border-radius: 5px;
}

button[type="submit"]:hover {
  background-color: #a00000;
}
