.flex-fields-container {
    margin-top: 20px;
  }
  
  .flex-field-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .field-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .flex-field {
    margin-bottom: 5px;
    font-style: italic;
    color: #666;
  }
  
  .rating {
    font-weight: bold;
  }
  